extends template
block mail-content
    div
        | Hello, dear #{userName}, we really sorry, that u're leaving us and deleting this account.
        br
        | Wish u luck in all yr beginnings!!!
